  <!-- <div class="row">
    <div class="col-sm-6">
        <div class="box1">hoiting is the  hwerre variable and functioon are move into the top of their scope  means variable is hoited but they are moved into the temporal dead zone </div>
        <div class="box1">hoiting is the  hwerre variable and functioon are move into the top of their scope  means variable is hoited but they are moved into the temporal dead zone </div>
        <div class="box1">hoiting is the  hwerre variable and functioon are move into the top of their scope  means variable is hoited but they are moved into the temporal dead zone </div>
    </div>
</div>
<app-two [item]="data"></app-two>
<app-two [item]="data"></app-two>
<app-two [item]="data"></app-two>
<app-two [item]="data"></app-two>

<button class="btn btn-sm btn-primary" (click)="submit()">Submit</button>  -->

<!-- <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">Samsung</button>
    <button type="button" class="btn btn-primary">Sony</button>
  </div>
  <app-header></app-header> -->
  <!-- <app-ngtem-ngcontainer></app-ngtem-ngcontainer> -->
  <!-- <ul>
    <li >
      <a routerLink="admin/list">List</a>
    </li>
    <li >
      <a routerLink="admin/user">User</a>
    </li>
    <li >
      <a routerLink="user/userlist">UserList</a>
    </li>
    <li >
      <a routerLink="user/loginlist">LoginList</a>
    </li>
  </ul>
<router-outlet></router-outlet> -->