<!-- 
<ul>
    <li *ngFor="let data of data">{{data.fName}}</li>
</ul> -->
<div>
</div>

<div class="card" style="width: 18rem;">
    <h3>This is the project of </h3><span>{{userName}}</span>

    <div class="card-body">
     <input type="text"  #uname placeholder="Enter username">
      <button class="btn btn-primary mt-2" (click)="userDetail(uname.value)">Submit</button>
    </div>
  </div>





  
<!-- <app-ngtem-ngcontainer>    -->
    <!-- This is the msg from ngtem

    <p role>This is selected content</p> -->
    <!-- </app-ngtem-ngcontainer> -->

<!-- <app-ngtem-ngcontainer></app-ngtem-ngcontainer> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet>
 -->

   


<!-- 
<div class="container">
    <div class="row">
        <div class="col-4">
            <app-one></app-one>
        </div>
        <div class="col-3">
            <app-two></app-two>
        </div>
        <div class="col-4">
            <app-four></app-four>
        </div>
    </div>
</div>  -->

<!-- const routes:routes=[{
    path:'emp',loadChildren:'emp/emp.component'
}] -->


<!-- <app-ngtem-ngcontainer></app-ngtem-ngcontainer> -->


